asgiref==3.8.1
crispy-bootstrap4==2024.1
distlib==0.3.8
Django==5.0.6
django-crispy-forms==2.1
django-registration-redux==2.13
filelock==3.14.0
mysqlclient==2.2.4
platformdirs==4.2.1
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.26.1
