{% load static %}
{% load crispy_forms_filters %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <title>Código de Barras</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script>
        $(document).ready(function() {
        // Foca no campo de código de barras ao carregar a página
        focusAndSelectBarcodeInput();

        // Captura o evento de entrada no campo de código de barras
        $('#id_barcode').on('input', function() {
            // Se o campo não estiver vazio, envia o formulário
            if ($(this).val().length > 0) {
                $(this).closest('form').submit();
            }
        });

        // Função para manter o foco e selecionar o conteúdo do campo de código de barras
        function focusAndSelectBarcodeInput() {
            const barcodeInput = $('#id_barcode');
            barcodeInput.focus();       // Foca no campo
            barcodeInput.select();      // Seleciona o conteúdo do campo para ser sobrescrito
        }

        // Redefine o foco e a seleção após o envio do formulário
        $('form').on('submit', function() {
            // Aguarda um breve momento antes de redefinir o foco e selecionar o campo
            setTimeout(focusAndSelectBarcodeInput, 100);
        });
    });
        </script>

</head>
<body>
    {% include 'navbar.html' %}
    <main role="main" class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="jumbotron">
            <div class="header">{{ header }}</div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" style="display:none;">Adicionar</button>
            </form>
            <h3>Itens a Retirar</h3>
            <div class="display_table">
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Código de Barras</th>
                            <th>NOME ITEM</th>
                            <th>QUANTIDADE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in items_list %}
                        <tr>
                            <td>{{ entry.barcode }}</td>
                            <td>{{ entry.item_name }}</td>
                            <td>1</td>  <!-- Cada entrada é um item, então a quantidade é 1 -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="finalize_items" class="btn btn-success">Finalizar</button>
            </form>
        </div>
    </main>
</body>
</html>
